.home_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'DM Sans';
    
    .nav-bar{
        width: 100%;
        height: 140px;
        background-color: #292929;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: 834px) {
            justify-content: center;
        
    }
    @media screen and (max-width: 320px) {
        height: 67px;
     
    }

        .navbar-text{
            margin-left: 96px;
            padding: 14px;
            border: #ffffff solid 1px;
            
            color: #ffffff;
            @media screen and (max-width: 834px) {
               margin: 0;
            
        }
        @media screen and (max-width: 320px) {
            font-size: 0.9rem;
            padding: 7px;
         
        }
        }
    }
}


.home_header{
    width: 100%;
    height: 550px;
    background-image: url(https://s3-alpha-sig.figma.com/img/0a21/7307/b02da0a986cf181384e8f65c83d112d4?Expires=1649030400&Signature=X7AO1IyMsoTcoLwNKOok6BOrgPr-PEQfD10Kvt3iHAjypTxAXS9aKWGG79-eUiTMDU5dNao8my~fwBs4rvauX~7FME47iIxsrIknLUrVx2S-2zpVTFfbSEKKEq2Oosp5YtZxOr77gJ5KER-xGc8lm1GH4U0ZbDtEL2Xqf7P7FtCKPIA5yyP6lWDWTMRQ9vSC1mdU0zAAMYgBBqMVXxv3s7Fer5ACVLx5eKP0llpYuzMmEE1RwciC9Wh7~bE0hYT72rQFTjbfljDoIDGVP8bVp8sRqUGmygdD8BQPr4MUVGTf0Xhvp~edLY1uRCmZuOIhH62oc72TvfzEVJwCwKyUzA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 834px) {
        justify-content: center;
        display: flex;

    
}
@media screen and (max-width: 320px) {
    height: 257px;
 
}

    .home_header-heading{
        text-align: left;
        color: #ffffff;
        font-family: "DM Sans";
        margin: 77px;
        margin-top: 109px;
        font-style: Bold;
        font-size: 72px;
        line-height: 94px;
        line-height: 100%;
        // vertical-align: Top;
        width: 25%;
        letter-spacing: -5%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 834px) {
           text-align: center;
           
        
    }
    @media screen and (max-width: 320px) {
        font-size: 28px;
        width: 90%;
        line-height: 36.46px;
     
    }
    }
}


.home_movie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 77px;
    @media screen and (max-width: 320px) {
        width: 100%;
        padding: 28px;
     
 }

    .home_movie-search{
        width: 100%;
        display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 61px 0;
                
                @media screen and (max-width: 320px) {
                    font-size: 12px;
                 margin: 28px 0;
             }

        label{
            margin-bottom: 4px;
            font-size: 24px;
            @media screen and (max-width: 320px) {
                font-size: 12px;
             
         }
        }
        .isearch{
            width: 100%;
            height: 54px;
            @media screen and (max-width: 320px) {
                height: 34px;
          }
        }
    }

    .home_movie-categories{
        width: 95vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5vw;
        // margin-bottom: 48px;
        @media screen and (max-width: 320px) {
        margin-left: 38px;
      }

        .home_movie-categories-cat{
            width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 26px;
        position: relative;
        
        
        .category-name{
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            
            
            color: #000000;
            @media screen and (max-width: 320px) {
                font-size: 18px;
          }
        }
        
        .home_movie-cat-scroll-cover{
            width: 100%;
            overflow-x: scroll;


            .home_movie-categories-cat-movies{
                height: 300px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @media screen and (max-width: 320px) {
                    height: 200px;
              }
                
                
                .categories-cat-movie{
                    width: 300px;
                    height: 100%;
                    margin-right: 13px;
                    padding: 10px;
                    background-color: black;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 12px;
                    @media screen and (max-width: 320px) {
                        width: 200px;
                  }
                    
                    
                    .movie-name{
                        
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 31px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        
                        color: #FFFFFF;
                        @media screen and (max-width: 320px) {
                            font-size: 18px;
                      }
                        
                    }
                }
                
            }
        }
        }
    }
}


